<div id="drawdown" class="chart"></div>
<script type="text/javascript">
    var chartDom = document.getElementById('drawdown');
    var myChart = echarts.init(chartDom);
    var option;

    option = {
        title: {
            text: 'Drawdown of {{ .Symbol }}'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },
        dataZoom: [
            { // This dataZoom component controls x-axis by dafault
                type: 'slider', // this dataZoom component is dataZoom component of slider
                xAxisIndex: [0],
                start: 0, // the left is located at 0%
                end: 100 // the right is located at 100%
            },
            {
                type: 'slider',
                yAxisIndex: [0],
                start: 0,
                end: 100
            }
        ],
        visualMap: [{
            show: false,
            type: 'continuous',
            seriesIndex: 0,
            min: 0.0,
            max: -50.0 
        }],
        xAxis: {
            type: 'category',
            data: {{ .Dates }}
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: {{ .Series }},
            type: 'line'
        }]
    };

    option && myChart.setOption(option);
</script>